In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.4.3-py3-none-any.whl (985 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2021.10.8)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: async-generator>=1.9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.4.3 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.2.0

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

#### Q1

In [2]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
#connecting to webpage
driver.get('https://www.naukri.com/')

In [4]:
#entering the designation as required in the given problem
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.click()
designation.send_keys('Data Analyst')

In [5]:
#entering the location as required in the given problem
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.click()
location.send_keys('Bangalore')

In [6]:
#need to click on submit button to proceed to the filtered page 
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [7]:
#initializing empty list to store the data necessary
title=[]         #stores Job Title
loc=[]           #stores Job Location 
company_name=[]  #stores Company Name
exp=[]           #stores Experience Required

In [8]:
#scrapping the required details in the given problem, here only 10 data are needed hence in the loop [0:10] is used 

title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title.append(i.text)

loc_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tag[0:10]:
    loc.append(i.text)    

company_name_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name_tag[0:10]:
    company_name.append(i.text)
    
exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tag[0:10]:
    exp.append(i.text)

In [9]:
#confirmation of the length of each variable
print(len(title),len(loc),len(company_name),len(exp))

10 10 10 10

In [10]:
#storing in a data frame
df=pd.DataFrame({'Job Title':title,'Job Location':loc,'Company Name':company_name,'Experience Required':exp})
df

,Job Title,Job Location,Company Name,Experience Required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
2,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
3,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
4,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
5,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Vola Finance,3-7 Yrs
8,Women on career break_ Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Zinnov Management C,5-10 Yrs
9,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs

#### Q2

In [11]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [12]:
#connecting to webpage
driver.get('https://www.naukri.com/')

In [13]:
#entering the designation as required in the given problem
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.click()
designation.send_keys('Data Scientist')

In [14]:
#entering the location as required in the given problem
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.click()
location.send_keys('Bangalore')

In [15]:
#need to click on submit button to proceed to the filtered page 
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [16]:
#initializing empty list to store the data necessary
title=[]         #stores Job Title
loc=[]           #stores Job Location 
company_name=[]  #stores Company Name

In [17]:
#scrapping the required details in the given problem, here only 10 data are needed hence in the loop [0:10] is used 

title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title.append(i.text)

loc_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tag[0:10]:
    loc.append(i.text)    

company_name_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name_tag[0:10]:
    company_name.append(i.text)

In [18]:
#confirmation of the length of each variable
print(len(title),len(loc),len(company_name))

10 10 10

In [19]:
#storing in a data frame
df=pd.DataFrame({'Job Title':title,'Job Location':loc,'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist - A.P. Maersk,Bangalore/Bengaluru\n(WFH during Covid),Maersk
5,Data Scientist,Bangalore/Bengaluru,Infosys
6,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
7,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
8,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
9,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited

#### Q3

In [20]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [21]:
#connecting to webpage
driver.get('https://www.naukri.com/')

In [22]:
#entering the designation as required in the given problem
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.click()
designation.send_keys('Data Scientist')

In [23]:
#need to click on submit button to proceed to the filtered page 
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [29]:
#filter data according to the required location
filter_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
filter_loc.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i"}
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x008CDF13+2219795]
	Ordinal0 [0x00862841+1779777]
	Ordinal0 [0x0077423D+803389]
	Ordinal0 [0x007A3025+995365]
	Ordinal0 [0x007A31EB+995819]
	Ordinal0 [0x007D0F52+1183570]
	Ordinal0 [0x007BE844+1108036]
	Ordinal0 [0x007CF192+1175954]
	Ordinal0 [0x007BE616+1107478]
	Ordinal0 [0x00797F89+950153]
	Ordinal0 [0x00798F56+954198]
	GetHandleVerifier [0x00BC2CB2+3040210]
	GetHandleVerifier [0x00BB2BB4+2974420]
	GetHandleVerifier [0x00966A0A+565546]
	GetHandleVerifier [0x00965680+560544]
	Ordinal0 [0x00869A5C+1808988]
	Ordinal0 [0x0086E3A8+1827752]
	Ordinal0 [0x0086E495+1827989]
	Ordinal0 [0x008780A4+1867940]
	BaseThreadInitThunk [0x7700FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77327A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77327A6E+238]

In [30]:
#filter data according to the required salary 
filter_sal=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
filter_sal.click()

In [31]:
#initializing empty list to store the data necessary
title=[]         #stores Job Title
loc=[]           #stores Job Location 
company_name=[]  #stores Company Name
exp=[]           #stores Experience Required

In [32]:
#scrapping the required details in the given problem, here only 10 data are needed hence in the loop [0:10] is used 

title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title.append(i.text)

loc_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tag[0:10]:
    loc.append(i.text)    

company_name_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name_tag[0:10]:
    company_name.append(i.text)
    
exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tag[0:10]:
    exp.append(i.text)

In [33]:
#confirmation of the length of each variable
print(len(title),len(loc),len(company_name),len(exp))

10 10 10 10

In [34]:
#storing in a data frame
df=pd.DataFrame({'Job Title':title,'Job Location':loc,'Company Name':company_name,'Experience Required':exp})
df

,Job Title,Job Location,Company Name,Experience Required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
2,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
5,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
6,Data Scientist,Noida,4i Odc,2-4 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Jr. Data Scientist,Noida,Dataflow,2-5 Yrs

#### Q4

In [35]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [36]:
#connecting to webpage
driver.get('https://www.flipkart.com/')

In [37]:
#need to close the pop up 
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [38]:
#entering the item required as required in the given problem
item=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
item.click()
item.send_keys('sunglasses')

In [39]:
#need to click on search button to proceed to the filtered page 
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [40]:
#initializing empty list to store the data necessary
brand=[]         #stores Brand
description=[]   #stores Product Description
price=[]         #stores Price

In [41]:
# useing the first loop to go throught the pages to get required no of results to be scrapped
#scrapping the required details usig the other loops
start=0
end=3
for page in range(start,end):
    
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag[0:40]:
        brand.append(i.text)
        
    description_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tag[0:40]:
        description.append(i.text)    
    
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag[0:40]:
        price.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [42]:
print(len(brand),len(description),len(price))

120 120 120

In [43]:
df=pd.DataFrame({'brand':brand,'description':description,'price':price})
df.drop(index=df.index[100:],inplace=True) 
df

            brand                                        description   price
0   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹1,049
1   VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    ₹999
2      PHENOMENAL         UV Protection Retro Square Sunglasses (53)    ₹240
3       New Specs   UV Protection Rectangular Sunglasses (Free Size)    ₹264
4       Elligator                UV Protection Round Sunglasses (54)    ₹298
..            ...                                                ...     ...
95             Mi           Polarized Aviator Sunglasses (Free Size)    ₹799
96       Fastrack       UV Protection Aviator Sunglasses (Free Size)    ₹639
97  VINCENT CHASE             UV Protection Wayfarer Sunglasses (62)    ₹749
98       DAHAAZIL  UV Protection, Night Vision, Riding Glasses Wa...    ₹177
99         PIRASO             UV Protection Wayfarer Sunglasses (32)    ₹251

[100 rows x 3 columns]

#### q5

In [47]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [48]:
#connecting to webpage
driver.get('https://www.flipkart.com/')

In [49]:
#need to close the pop up 
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [50]:
#entering the item required as required in the given problem
item=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
item.click()
item.send_keys('iphone 11')

In [51]:
#need to click on search button to proceed to the filtered page 
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [54]:
#need to click on first search 
s=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]')
s.click()

In [ ]:
#need to click on all review button 
t=driver.find_element(By.XPATH,'//div[@class="_2c2kV-"]')
t.click()

the click all review button doesnt work so was advised to use link and just do extraction

In [56]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [57]:
#connecting to webpage
driver.get('https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART')

In [58]:
#initializing empty list to store the data necessary
review_summary=[]         #stores Review summary
full_review=[]            #stores Full review
rating=[]                 #stores Rating

In [59]:
# useing the first loop to go throught the pages to get required no of results to be scrapped
#scrapping the required details usig the other loops
start=0
end=10
for page in range(start,end):
    
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rating.append(i.text)
        
    review_summary_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_summary_tag[0:40]:
        review_summary.append(i.text)    
    
    full_review_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tag[0:40]:
        full_review.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [60]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [61]:
df=pd.DataFrame({'Rating':rating,'Review summary':review_summary,'Full review':full_review})
df.drop(index=df.index[100:],inplace=True) 
df

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Highly recommended,It's my first time to use iOS phone and I am l...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,4,Good choice,So far it’s been an AMAZING experience coming ...

#### Q6

In [62]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [63]:
#connecting to webpage
driver.get('https://www.flipkart.com/')

In [64]:
#need to close the pop up 
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [65]:
#entering the item required as required in the given problem
item=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
item.click()
item.send_keys('sneakers')

In [66]:
#need to click on search button to proceed to the filtered page 
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [67]:
#initializing empty list to store the data necessary
brand=[]         #stores Brand
description=[]   #stores Product Description
price=[]         #stores Price

In [68]:
start=0
end=3
for page in range(start,end):
    
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag[0:40]:
        brand.append(i.text)
        
    description_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tag[0:40]:
        description.append(i.text)    
    
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag[0:40]:
        price.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [69]:
print(len(brand),len(description),len(price))

120 105 120

In [70]:
#here there is lenght differnce between brand, description and price so to adjust create other variables

brands=[]
desc=[]
p=[]
for i in range(0,100):
    brands.append(brand[i])
    desc.append(description[i])
    p.append(price[i])
print(len(brands),len(desc),len(p))

100 100 100

In [71]:
df=pd.DataFrame({'brand':brands,'description':desc,'price':p})
df

        brand                                        description price
0   EZDEZARIO                                   Sneakers For Men  ₹499
1          TR                                   Sneakers For Men  ₹399
2    RapidBox                                   Sneakers For Men  ₹610
3    Magnolia                                   Sneakers For Men  ₹419
4      Labbin                                   Sneakers For Men  ₹499
..        ...                                                ...   ...
95   HOTSTYLE                    Serve Pro Lite Sneakers For Men  ₹292
96     Layasa   Boomerang Stylish & Comfortable Sneakers For Men  ₹399
97      Echor  Original Luxury Branded Fashionable Men's Casu...  ₹594
98  Deals4you             Fashion Sneaker Shoes Sneakers For Men  ₹345
99      Krors                                   Sneakers For Men  ₹499

[100 rows x 3 columns]

#### Q7

In [72]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [73]:
#connecting to webpage
driver.get('https://www.myntra.com/shoes')

In [74]:
#filter data according to the required price
filter_p=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_p.click()

In [75]:
#filter data according to the required color
filter_c=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
filter_c.click()

In [76]:
#initializing empty list to store the data necessary
brand=[]         #stores Brand
description=[]   #stores Product Description
price=[]         #stores Price

In [77]:
start=0
end=3
for page in range(start,end):
    
    brand_tag=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_tag[0:40]:
        brand.append(i.text)
        
    description_tag=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in description_tag[0:40]:
        description.append(i.text)    
    
    price_tag=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_tag[0:40]:
        price.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)

In [79]:
print(len(brand),len(description),len(price))

120 120 120

In [80]:
price

['Rs. 8295',
 'Rs. 13295Rs. 13995(5% OFF)',
 'Rs. 8295',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 10999',
 'Rs. 11049Rs. 12999(15% OFF)',
 'Rs. 12795',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 13995',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 11999Rs. 14999(20% OFF)',
 'Rs. 12999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9349Rs. 10999(15% OFF)',
 'Rs. 8355Rs. 8795(5% OFF)',
 'Rs. 7495',
 'Rs. 8195',
 'Rs. 8999',
 'Rs. 7499',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 9999',
 'Rs. 9210Rs. 9695(5% OFF)',
 'Rs. 7999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8450Rs. 8895(5% OFF)',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 8005Rs. 8895(10% OFF)',
 'Rs. 7999',
 'Rs. 7599',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7880Rs. 8295(5% OFF)',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 8499',
 'Rs. 8599',
 'Rs. 7999',
 'Rs. 8299',
 'Rs. 8299',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 9999',
 'Rs. 10345Rs. 11495(10% OFF)',
 'Rs. 10999',
 'Rs. 13205Rs. 13900(5% OFF)',
 'Rs. 7499',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 12999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7499',
 'Rs. 12999',
 'Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 10990',
 'Rs. 10925Rs. 11500(5% OFF)',
 'Rs. 10990',
 'Rs. 8999',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 8799',
 'Rs. 7499',
 'Rs. 11990',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7980Rs. 8400(5% OFF)',
 'Rs. 7999',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 8999',
 'Rs. 8075Rs. 9500(15% OFF)',
 'Rs. 7490',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7299',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 9999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8490',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 7499',
 'Rs. 11192Rs. 13990(20% OFF)',
 'Rs. 8455Rs. 8900(5% OFF)',
 'Rs. 7490',
 'Rs. 7499',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 13999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 9990',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 9990',
 'Rs. 9990',
 'Rs. 9990',
 'Rs. 9990',
 'Rs. 9990',
 'Rs. 9999',
 'Rs. 11990',
 'Rs. 10400',
 'Rs. 10990',
 'Rs. 11999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 8505Rs. 10500(19% OFF)',
 'Rs. 13990',
 'Rs. 7500',
 'Rs. 12990',
 'Rs. 8490',
 'Rs. 8999',
 'Rs. 13999',
 'Rs. 9999',
 'Rs. 9025Rs. 9500(5% OFF)',
 'Rs. 8999',
 'Rs. 9025Rs. 9500(5% OFF)']

In [81]:
# need to remove the unnecessary data 
a=price
c=[]
for i in a:
    b=i.split('.')[1].split('R')[0]
    c.append(b)

c

[' 8295',
 ' 13295',
 ' 8295',
 ' 7649',
 ' 10999',
 ' 11049',
 ' 12795',
 ' 9099',
 ' 13995',
 ' 7999',
 ' 11999',
 ' 12999',
 ' 7199',
 ' 9349',
 ' 8355',
 ' 7495',
 ' 8195',
 ' 8999',
 ' 7499',
 ' 8249',
 ' 7649',
 ' 8499',
 ' 9999',
 ' 9210',
 ' 7999',
 ' 7649',
 ' 8450',
 ' 9599',
 ' 8005',
 ' 7999',
 ' 7599',
 ' 8999',
 ' 7999',
 ' 7880',
 ' 10499',
 ' 7199',
 ' 8499',
 ' 8599',
 ' 7999',
 ' 8299',
 ' 8299',
 ' 7499',
 ' 9999',
 ' 10345',
 ' 10999',
 ' 13205',
 ' 7499',
 ' 9975',
 ' 12999',
 ' 8499',
 ' 7499',
 ' 12999',
 ' 8999',
 ' 10990',
 ' 10925',
 ' 10990',
 ' 8999',
 ' 9599',
 ' 7499',
 ' 7999',
 ' 10999',
 ' 7999',
 ' 8490',
 ' 9999',
 ' 8799',
 ' 7499',
 ' 11990',
 ' 9099',
 ' 7980',
 ' 7999',
 ' 9810',
 ' 9999',
 ' 9990',
 ' 8999',
 ' 8075',
 ' 7490',
 ' 7199',
 ' 7299',
 ' 8799',
 ' 9999',
 ' 7649',
 ' 8490',
 ' 12999',
 ' 9999',
 ' 7499',
 ' 11192',
 ' 8455',
 ' 7490',
 ' 7499',
 ' 8249',
 ' 13999',
 ' 9999',
 ' 8990',
 ' 9990',
 ' 8990',
 ' 7990',
 ' 9990',
 ' 9990',
 ' 9990',
 ' 9990',
 ' 9990',
 ' 9999',
 ' 11990',
 ' 10400',
 ' 10990',
 ' 11999',
 ' 12999',
 ' 11999',
 ' 7999',
 ' 8505',
 ' 13990',
 ' 7500',
 ' 12990',
 ' 8490',
 ' 8999',
 ' 13999',
 ' 9999',
 ' 9025',
 ' 8999',
 ' 9025']

In [82]:
df=pd.DataFrame({'brand':brand,'description':description,'price':c})
df

               brand                        description   price
0               Nike     Men ZOOM WINFLO8 Running Shoes    8295
1               Nike       Men React Infinity 3 Running   13295
2               Nike       Lebron Witness VI Basketball    8295
3       Hush Puppies  Men Solid Leather Formal Slip-Ons    7649
4    PUMA Motorsport     Mercedes AMG Petronas F1 Shoes   10999
..               ...                                ...     ...
115             ECCO    Women Textured Leather Sneakers   13999
116             ECCO       Women Bella Leather Sneakers    9999
117          Saint G           Leather Block Heel Mules    9025
118             ECCO             Women Ballerinas Flats    8999
119          Saint G                  Women Block Mules    9025

[120 rows x 3 columns]

#### Q8

In [83]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [84]:
#connecting to webpage
driver.get('https://www.amazon.in/')

In [85]:
#entering the item required as required in the given problem
item=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
item.click()
item.send_keys('Laptop')

In [86]:
#need to click on search button to proceed to the filtered page 
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

In [87]:
#filter data according to the required cpu
filter_cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div/label/i')
filter_cpu.click()

In [88]:
#initializing empty list to store the data necessary
title=[]         #stores title
ratings=[]       #stores Ratings
price=[]         #stores Price

In [89]:
#scrapping the required details in the given problem, here only 10 data are needed hence in the loop [0:10] is used 

title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag[0:10]:
    title.append(i.text)

ratings_tag=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in ratings_tag[0:10]:
    ratings.append(i.text)    

    price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    price.append(i.text)

In [90]:
print(len(title),len(ratings),len(price))

10 10 10

In [91]:
df=pd.DataFrame({'Title':title,'Ratings':ratings,'Price':price})
df

                                               Title Ratings   Price
0  Acer Extensa 15 Thin & Light Intel Processor P...          26,990
1  Acer Travelmate Intel® Pentium® Gold 7505 Proc...          24,490
2  Dell New Inspiron 3521 Laptop, Intel PQC-N5030...          31,990
3  Acer Aspire 3 Laptop (Made in India) A314-35 3...          26,490
4  Dell Inspiron 3502 15.6 inches(39cm) HD Displa...          34,800
5  ASUS Windows 11 Home VivoBook 13 Slate OLED, I...          52,000
6  Dell Inspiron 3501 15.6 inches(39.6cm) FHD Dis...          49,990
7  Dell New 15 PQC-N5030 Intel Inspiron 3510 15.6...          35,500
8  Hp 14S-Intel Pentium Silver N6000- 8Gb Ram/256...          30,499
9  HP 14 Intel Pentium N6000 14-inch(35.6 cm) Lap...          34,750

#### Q9

In [92]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [93]:
#connecting to webpage
driver.get('https://www.ambitionbox.com/')

In [95]:
#need to close the pop up 
close=driver.find_element(By.XPATH,'/html/body/section[10]/div[1]/div[2]/a/i')
close.click()

In [96]:
#need to select job 
job=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
job.click()

In [97]:
#entering the item required as required in the given problem
item=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
item.click()
item.send_keys('Data Scientist')

In [98]:
#need to click on search 
job=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
job.click()

In [99]:
#need to click on location to filter 
filter_loc=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
filter_loc.click()

In [100]:
#entering the job location required in the given problem
item=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
item.click()
item.send_keys('Noida')

In [101]:
#need to click on Noida
noida=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
noida.click()

In [105]:
#initializing empty list to store the data necessary
company_name=[] #stores company name
ratings=[]      #stores Ratings
post=[]         #stores No. of days ago when job was posted

In [106]:
#scrapping the required details in the given problem, here only 10 data are needed hence in the loop [0:10] is used 

company_name_tag=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company_name_tag[0:10]:
    company_name.append(i.text)

ratings_tag=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in ratings_tag[0:10]:
    ratings.append(i.text)    

post_tag=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in post_tag[0:20]:
    post.append(i.text)

In [107]:
post

['3hr ago',
 'via naukri.com',
 '27d ago',
 'via naukri.com',
 '20d ago',
 'via naukri.com',
 '22d ago',
 'via iimjobs.com',
 '1mon ago',
 'via naukri.com',
 '30d ago',
 'via naukri.com',
 '5d ago',
 'via hirist.com',
 '1mon ago',
 'via naukri.com',
 '13d ago',
 'via naukri.com',
 '1mon ago',
 'via hirist.com']

In [108]:
# here post returns two details (a) the date it was posted (b) the website where it was posted 
#so manipulating post to save data when it was posted in variable posts
posts=[]
for i in range(0,20):
    if (i%2==0):
        posts.append(post[i])
    else:
        continue
posts

['3hr ago',
 '27d ago',
 '20d ago',
 '22d ago',
 '1mon ago',
 '30d ago',
 '5d ago',
 '1mon ago',
 '13d ago',
 '1mon ago']

In [109]:
print(len(company_name),len(posts),len(ratings))

10 10 10

In [110]:
df=pd.DataFrame({'company name':company_name,'No. of days ago when job was posted':posts,'Rating of the company':ratings})
df

,company name,No. of days ago when job was posted,Rating of the company
0,Optum Global Solutions (India) Private Limited,3hr ago,4.1
1,CBRE South Asia Pvt Ltd,27d ago,4.3
2,GENPACT India Private Limited,20d ago,4.0
3,Genpact,22d ago,4.0
4,Ericsson India Global Services Pvt. Ltd.,1mon ago,4.3
5,GENPACT India Private Limited,30d ago,4.0
6,Dew Solutions Pvt. Ltd.,5d ago,4.3
7,Ericsson India Global Services Pvt. Ltd.,1mon ago,4.3
8,One97 Communications Limited,13d ago,3.8
9,EY,1mon ago,3.8

#### Q10

In [111]:
#connecting to driver
driver=webdriver.Chrome(r"C:\Users\JOHN TOJO\Downloads\chromedriver_win32\chromedriver.exe")

In [112]:
#connecting to webpage
driver.get('https://www.ambitionbox.com/')

In [113]:
#need to close the pop up 
close=driver.find_element(By.XPATH,'/html/body/section[10]/div[1]/div[2]/a/i')
close.click()

In [114]:
#need to select salaries 
job=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]')
job.click()

In [115]:
#need to select Browse Salaries
job=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div')
job.click()

In [116]:
#entering the item required as required in the given problem
item=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
item.click()
item.send_keys('Data Scientist')

In [ ]:
#need to click on search button to proceed to the filtered page 
tag=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')

tag.click()

cannot run this code as there is some problem with the search button